<header>
    <div class="container-fluid">
        <div class="part1">
            <img src="./assets/imgs/Logo/LASMANATE.png" alt="">
            <div class="group_icons">
                <i class="fa-solid fa-user custom_size"></i>
                <i class="fa-solid fa-heart custom_size"></i>
                <i class="fa-solid fa-cart-shopping custom_size"></i>
            </div>
        </div>
        <nav class="part2">
            <ul>
                <li><a href="./index.html">Trang Chủ</a></li>
                <li><a href="">Nam</a></li>
                <li><a href="">Nữ</a></li>
                <li><a href="">Trẻ em</a></li>
                <li><a href="">Khuyến mãi</a></li>
                <li><a href="">Sản phẩm mới</a></li>
                <li><a href="">Tin tức thời trang</a></li>
            </ul>
        </nav>
    </div>
</header>